doctype html
html(lang='en')
  head
    title riders of the sound
    style(type='text/css').
      body {
        background-color: blue
      }
    script(type='text/javascript', src='game.js')
  body
    #container
